
*.zip
*.pdf
*.PNG
*.csv
*.0
*.1
**/test_old/
**/train_old/
**.pcap
**.tar
**.zip
**.txt
*.xlsx
**.gz
/6_Adversarial_Attacks/06-blackbox/*
/4_Tor_Website_Fingerprinting/**
!/4_Tor_Website_Fingerprinting/main.py
!/4_Tor_Website_Fingerprinting/Brainstorming.txt
!/4_Tor_Website_Fingerprinting/README.md
3_Schadcode_in_software/mal_code_webserver.py
1_Einführung_mit_spam/Auf 2
/1_Einführung_mit_spam/1_SPAM_ERKENNUNG_MIT_MASCHINELLEM_LERNEN/main.py
/1_Einführung_mit_spam/1_SPAM_ERKENNUNG_MIT_MASCHINELLEM_LERNEN/main_gruppe.py
